@model IEnumerable<SoftwareIntegrationThirdVersion.Models.Gym>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Agregar nuevo gimnasio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de gimnasio
            </th>
            <th>
                Dirección del local
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.gymName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gymAddress)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.gymId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.gymId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.gymId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
