@model SoftwareIntegrationThirdVersion.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Identificador de gimnasio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gymId)
        </dd>
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exerciseName)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exerciseDescription)
        </dd>
        <dt class = "col-sm-2">
            Duración
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exerciseDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.exerciseId">Editar</a> |
    <a asp-action="Index">Volver a lista</a>
</div>
